<div class="container">
    <div class="grid-item item1">
      <div class="box" style="border-bottom:0px;margin-bottom: 5px;">
            <div class="text-top">
                <p><i class="fa fa-user"></i> ข้อมูลส่วนตัว</p>
                <div class="text-none"><p>ข้อมูลส่วนตัว สามารถเปลี่ยนชื่อ-นามสกุลและรหัสผ่าน</p></div>
            </div>
        </div>
    </div>
    <ng-container *ngFor="let profileshow of profileshowid">
        <div class="grid-item item1">
          <div class="container-form">
            <div class="hr-form">
              <p><i class="fa fa-lock"></i> อีเมล/รหัสผ่าน</p>
            </div>
            <div class="form-box-2 ">
              <input type="text" name="email" readonly="true" [value]="profileshow.email" />
              <input type="password" name="password" readonly="true" [value]="profileshow.password" />
            </div>
            <a (click)="Memberid_password(profileshow.id_member)"><button class="button-qr"><i class="fa fa-gear"></i> เเก้ไข รหัสผ่าน</button></a>
          </div>
        </div>
    
        <div class="grid-item item1">
          <div class="container-form">
            <div class="hr-form">
              <p><i class="fa fa-user"></i> ชื่อ-นามสกุล</p>
            </div>
            <input type="text" name="prefix" readonly="true" [value]="profileshow.prefix" />
            <div class="form-box-2">
              <input type="text" name="fname" readonly="true" [value]="profileshow.fname" />
              <input type="text" name="lname" readonly="true" [value]="profileshow.lname" />
            </div>
            <a (click)="Memberid_name(profileshow.id_member)"><button class="button-qr"><i class="fa fa-gear"></i> เเก้ไข ชื่อ-นามสกุล</button></a>
          </div>
        </div>
      </ng-container>
</div>