<div class="container">
    <div class="grid-item item1">
        <div class="box" style="border-bottom:0px;margin-bottom: 5px;">
            <div class="text-top">
                <p><i class="fa fa-user"></i> ข้อมูลส่วนตัว</p>
                <div class="text-none"><p>ข้อมูลส่วนตัว-เปลี่ยนรหัสผ่าน</p></div>
            </div>
        </div>
    </div>
    <div class="grid-item item1">
        <ng-container *ngFor="let profileshow of profileshowid">
            <div class="container-form">
                <div class="hr-form">
                    <p><i class="fa fa-lock"></i> อีเมล/รหัสผ่าน</p>
                </div>
                <input type="email" [value]="profileshow.email" name="email" id="email" readonly />
                <div class="form-box-2">
                    <div class="password-input-container">
                        <input type="password" placeholder="รหัสผ่านใหม่" name="psw" id="password" #password class="form-control" />
                        <span class="password-toggle" (click)="togglePasswordVisibility()">
                            <i class="fa fa-eye" *ngIf="!passwordVisible"></i>
                            <i class="fa fa-eye-slash" *ngIf="passwordVisible"></i>
                        </span>
                    </div>
                    <div class="password-input-container">
                        <input type="password" placeholder="ยืนยันรหัสผ่านอีกครั้ง" name="confirmPassword" id="confirmPassword" #confirmPassword class="form-control" />
                        <span class="password-toggle" (click)="toggleConfirmPasswordVisibility()">
                            <i class="fa fa-eye" *ngIf="!confirmPasswordVisible"></i>
                            <i class="fa fa-eye-slash" *ngIf="confirmPasswordVisible"></i>
                        </span>
                    </div>
                </div>
                <button class="button-submit" (click)="confirmEditPassword(password.value, confirmPassword.value)"><i class="fa fa-gear"></i>ยืนยันการแก้ไข</button>
            </div>
        </ng-container>
    </div>
</div>
