<div class="container">
    <div class="grid-item item1">
        <div class="box1 hr">
            <div class="text-top">
                <p><i class="fa fa-history"></i> รายการจองย้อนหลัง</p>
                <div class="text-none"><p>ประวัติการจองสนามของฉันทั้งหมด</p></div>
            </div>
            <a routerLink="/booking-my"><div class="button-back1"><i class="fa fa-reply"></i> ย้อนกลับ</div></a>
        </div>
        <form action="qrcode.html" method="post">
            <table>
                <thead>
                    <tr>
                        <th scope="col">วันที่</th>
                        <th scope="col">ช่วงเวลา</th>
                        <th scope="col">สนามกีฬา</th>
                        <th scope="col">หมายเลขสนาม</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="วันที่">06/11/2023</td>
                        <td data-label="ช่วงเวลา">8.00-9.00</td>
                        <td data-label="สนามกีฬา">สนามฟุตบอล</td>
                        <td data-label="หมายเลขสนาม">A12</td>
                    </tr>
                    <tr>
                        <td data-label="วันที่">05/11/2023</td>
                        <td data-label="ช่วงเวลา">15.00-16.00</td>
                        <td data-label="สนามกีฬา">สนามฟุตบอล</td>
                        <td data-label="หมายเลขสนาม">A13</td>
                    </tr>
                    <tr>
                        <td data-label="วันที่">04/11/2023</td>
                        <td data-label="ช่วงเวลา">10.00-11.00</td>
                        <td data-label="สนามกีฬา">สนามฟุตบอล</td>
                        <td data-label="หมายเลขสนาม">A14</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>